/* ====================================guide==================================== */
/* table of contents:
    1. font Defenation
    2. variables Difination
    3. Base styles and Reset */
/* ====================================guide==================================== */


/* ----------------------------------------------------------------------------- */
/* font Defenations */

@import url(./font.css);

/* ----------------------------------------------------------------------------- */
/* Variables Difination */

:root{


    /* 1. Color Defenation */

    /* Primary colors */
    --primary-tint-6: #E7F1FF
    --primary-tint-5: #CFE2FF
    --primary-tint-4: #B6D4FE
    --primary-tint-3: #9EC5FE
    --primary-tint-2: #6EA8FE
    --primary-tint-1: #3D8BFD
    --primary: #0D6EFD
    --primary-shade-1: #0A58CA
    --primary-shade-2: #084298
    --primary-shade-3: #052C65
    --primary-shade-4: #04214C
    --primary-shade-5: #031633
    --primary-shade-6: #010B19

    /* Natural colors */
    --natural-tint-6: #E7E7E7
    --natural-tint-5: #B6B6B6
    --natural-tint-4: #CECECE
    --natural-tint-3: #9E9E9E
    --natural-tint-2: #6D6D6D
    --natural-tint-1: #3D3D3D
    --natural: #0C0C0C
    --natural-shade-1: #0A0A0A
    --natural-shade-2: #070707
    --natural-shade-3: #050505
    --natural-shade-4: #040404
    --natural-shade-5: #020202
    --natural-shade-6: #010101

    /* State colors */
    /* Error */
    --state-error: #C30000
    --state-error-light-1: #ED2E2E

    /* Success */
    --state-success: #00966D
    --state-success-light-1: #00BA88

    /* 2. Space Defenation */

    --space-px: 1px
    --space-0: 0px
    --space-0-5: 2px
    --space-1: 4px
    --space-1-5: 6px
    --space-2: 8px
    --space-2-5: 10px
    --space-3: 12px
    --space-3-5: 14px
    --space-4: 16px
    --space-5: 20px
    --space-6: 24px
    --space-7: 32px
    --space-8: 40px
    --space-9: 48px
    --space-10: 56px
    --space-11: 64px
    --space-12: 72px
    --space-13: 80px
    --space-14: 88px
    --space-15: 104px

    /* 3. Radius */

    --radius-1: 4px
    --radius-2: 8px
    --radius-3: 12px
    --radius-4: 16px
    --radius-5: 24px

    
}

/* ----------------------------------------------------------------------------- */
/* Typography */
